* {
    color: white;
    font-family: monospace;
}

body {
    background-color: #212325;
}

img {
    border-radius: 4px;
    position: absolute;
    width: 50px;
    cursor: grab;
    z-index: -1;
}

img:active {
    cursor: grabbing;
}

#playerbar {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#players {
    position: absolute;
    bottom: 0;
}

li {
    margin: 5px;
}
.hints {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
dialog, input, button{
    background-color: black;
    border: none
}
dialog {
    border-radius: 8px;
}
label {
    padding-right: 5px;
}
