body {
    background-color: #615c55;
}

img {
    border-radius: 4px;
    position: absolute;
    width: 50px;
    cursor: grab;
}

img:active {
    cursor: grabbing;
}

#players {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

li {
    list-style: none;
    margin: 5px;
}
